body{
background:#FFFF99;}
#form{
width:2000px;}
#content{
text-align:center;
}
#order,#domain,#fromdate,#todate,#cost,#production,#hostid,#email{
width:1000px;
height:50px;
}
#contact{
width:1000px;
height:50px;
}
#decription{
width:1000px;
}
.textarea{
width:600px;
}
.text{
float:left;
width:400px;
height:50px;
padding-right:0px;}

.guide{
float:left;
width:200px;
height:50px;
text-align:left;
color:#666666;}
.guide2{
float:left;
width:200px;
height:50px;
text-align:left;
color:#FF0000;}
.inner{
float:inherit;
width:100px;
margin-right:0px;
padding-right:0px;
text-align:left;
}
.input{
float:inherit;
width:153px;
margin-left:0px;
padding-left:0px;
}

#header{
width:auto;

}
#content2{
width:1200px;
heitht:auto;
margin-left:20px;
border:1px solid #CCCCCC;
overflow:hidden;

}
.table{
width:600px;
margin:10px 10px 10px 10px;
border:1px solid #000000;
}
#left{
width:800px;
height:auto;
float:left;
}
#right{
width:300px;
height:auto;
border:1px solid #000000;
float:left;
margin:10px 10px 10px 10px;
}
#forms{
width:200px;
margin:10px 10px 10px 10px;
border:1px solid #000000;
}